@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
}

.wrapper {
    max-width: 450px;
    margin: 0 auto;
}

h1 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 29px;
}

h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

h5 {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

main header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 29px 0 29px;
}

main header svg:first-child {
    border-radius: 3px;
    background: #F3F3F3;
}


form {
    display: flex;
    padding: 11px 29px;
    width: 100%;
}

form button {
    margin-right: -30px;
    border: 0;
    background: transparent;
}

form input {
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background: rgba(221, 221, 221, 0.35);
    border: 0;
    padding-left: 43px;
    color: rgba(0, 0, 0, 0.53);
    font-size: 15px;
}

form input::placeholder {
    color: rgba(0, 0, 0, 0.53);
    font-size: 15px;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 11px 29px;
    gap: 14px;
    overflow-y: scroll;
}

.card {
    padding: 7px 16px 11px 14px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    max-width: 150px;
    border-radius: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #FCE7B0 0%, #F2C85B 100%);
}

.orange {
    background: radial-gradient(50% 50% at 50% 50%, #F6CFB3 0%, #FBA465 100%);
}

.card .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card .top h5 {
    margin-top: -10px;
}

.card .top .right {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .bottom h3 {
    text-align: right;
}

.card .bottom h3 span {
    font-size: 14px;
}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 58px;
    background: #FFF;
    width: 100%;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    z-index: 99;
}

nav a i {
    color: black;
    font-size: 25px;
    cursor: pointer;
}
nav a.active{
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: #F2C95F;
    margin-top: -40px;
    color:fff;
}



@media (min-width:450px) {
    main {
        border: solid 25px #231f1fd7;
        border-radius: 75px;
        max-height: 810px;
    }

    body {
        margin-top: 2vh;
    }
}